<!doctype html>
<html lang="en">
  <head>
    <title>Final Project</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="index.css">
  </head>
  <body>

      <div class="card" style="width: 18rem;">
        <img src="<%= data.image %>" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= data.name %></h5>
          <ul><%= data.status%></ul>
          <ul><%= data.species%></ul>
          <ul><%= data.gender%></ul>
        
          

      </div>
    
      
      
  </body>
</html>

